body  {
  text-align: left;
  background-image: url('http://i.huffpost.com/gen/943936/images/o-OPRAH-facebook.jpg')
}
h1  {
  color: white;

}
#quoteDisplay {
  color: red;
  font-size: 20px;
}
button  {
  margin: 20px;
  border-radius: 12px;
}

button:hover{
  background-color: red;
  color:black;
}
